<template lang="pug">
h1 Дополнительная страница
.bg-gray-300
  h2.text-2xl.mt-4 Ну и
  p Текущий сайт, то есть моё портволио подтверждает то о чем на нем описано, с ссылкой на репозиторий GitLab о том что я в состоянии развернуть проект на Vue, подключить к нему нужные инструменты (Tailwind, Pug) и сделать автоматический деплой на хостинг после прохождения тестов. Хотя можно было развернуть сделать на Laravel, но это было бы излишне.
</template>

<style></style>
