<template lang="pug">
.mt-8.flex.justify-between.flex-col-reverse.sm_flex-col-reverse.md_flex-row.bg-gray-900.rounded-lg.py-12
  .items-center.flex.ml-12
    .md_mr-4.w-96
      h1.text-4xl.mt-4.text-white Привет, меня зовут Резников Алексей
      p.text-bg.text-gray-200.mt-4 Я проект-менеджер из г. Коврова, работаю в 42sol.ru, управляю командой из 9 человек, контролирую работу 7+ проектов, кросс-фунционален.
  .bg-gray-200.h-72.md_w-full.mx-12.rounded-lg.flex.justify-end.justify-center.items-center
    p Тут будет видео
.mt-12
  h2.text-2xl.mt-4 Личные навыки
  hr.bg-gray-500.h-1.mt-2
  ul.mt-2.list-disc.list-inside
    li Самоорганизован, опыт работы удаленно 4+ лет
    li Комменикабелен, не испытываю сложностей в разговрах с людьми
    li Требователен к себе, что побуждает постоянно получать или улучшать менеджерские и технические навыки
.mt-8
  h2.text-2xl.mt-4 Над чем работал
  hr.bg-gray-500.h-1.mt-2
  ul.mt-2.list-disc.list-inside
    li Выстаривал процессы работы, обучал и мотивировал членов команды
    li Управлял созданием и поддержкой интернет-магазинов на CMS Bitrix, в ходе которых проходили задачи по разработке не стандартного фунционала, интеграцией с внешнеми сервисами API, в том числе Bitrix24 при плотном сотрудничестве с заказчиками
    li Участвовал в разработке сервисов на Laravel(PHP) + Vue(JS)
    li Создавал технические задания под бизнес-задачи
.mt-8
  h2.text-2xl.mt-4 Технические навыки
  hr.bg-gray-500.h-1.mt-2
  ul.mt-4.list-disc.list-inside
    li Scrum, Kanban
    li HTML, CSS, SCSS, Tailwind
    li JS, Vue
    li PHP, MySQL, Laravel
    li Linux, Git, Docker, GitLab CI/CD
</template>

<script setup></script>
