<script setup></script>

<template lang="pug">
header.container.max-w-6xl.px-12
  .div.flex.justify-between
    .flex.items-center.justify-start
      RouterLink(to="/") Резников Алексей
    .flex.gap-8.py-6.justify-end
      RouterLink(to="/") Проекты
      RouterLink(to="/about") Обо мне
      RouterLink(to="/") Контакты
</template>

<style></style>
